<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="itwillbs.p2c3.class_will.mapper.AdminMapper">

	<select id="selectMemberList" resultType="map" parameterType="map">
	    SELECT 
	        m.member_code,
	        m.member_email,
	        m.member_name,
	        m.member_img,
	        m.member_tel,
	        m.member_pwd,
	        m.member_social,
	        m.member_marketing1,
	        m.member_marketing2,
	        status.code_value AS member_status,
	        m.member_addr,
	        m.member_nickname,
	        m.member_credit,
	        type.code_value AS member_type,
	        m.member_reg_date
	    FROM MEMBER m
	    LEFT JOIN common2 status 
	    ON m.member_status = status.common2_code 
	    AND status.common1_code = #{params.member_status}
	    LEFT JOIN common2 type 
	    ON m.member_type = type.common2_code 
	    AND type.common1_code = #{params.member_type}
	    WHERE m.member_type = #{params.param1}
	</select>
	
	<select id="selectMemberInfo" resultType="map" parameterType="map">
		SELECT	m.member_code,
		        m.member_email,
		        m.member_name,
		        m.member_img,
		        m.member_tel,
		        m.member_pwd,
		        m.member_social,
		        m.member_marketing1,
		        m.member_marketing2,
		        status.code_value AS member_status,
		        m.member_addr,
		        m.member_nickname,
		        m.member_credit,
		        type.code_value AS member_type,
		        m.member_reg_date
		FROM MEMBER m
	    LEFT JOIN common2 status 
	    ON m.member_status = status.common2_code 
	    AND status.common1_code = #{params.member_status}
	    LEFT JOIN common2 type 
	    ON m.member_type = type.common2_code 
	    AND type.common1_code = #{params.member_type}
		WHERE member_code = #{params.param1}
	</select>
	
	<select id="selectColumnNames" resultType="String">
		SELECT COLUMN_NAME 
		FROM INFORMATION_SCHEMA.COLUMNS 
		WHERE TABLE_NAME = #{tableName}
	</select>
	
	<select id="selectTable" resultType="map">
		SELECT * 
		FROM ${tableName}
	</select>
	
	<select id="selectColumnDataTypes" resultType="String">
	    SELECT 
	        CASE 
	            WHEN DATA_TYPE = 'varchar' THEN CONCAT(DATA_TYPE, '(', CHARACTER_MAXIMUM_LENGTH, ')')
	            ELSE DATA_TYPE
	        END AS DATA_TYPE_WITH_LENGTH
	    FROM INFORMATION_SCHEMA.COLUMNS
	    WHERE TABLE_NAME = #{tableName}
	</select>
	
	<insert id="insertExcelDatas">
		INSERT INTO ${tableName}
		(
		<foreach collection="columnNames" separator="," item="column">
			${column}
		</foreach>
		)
		VALUES
		(
		<foreach collection="rowDataList" separator="," item="data">
			#{data}
		</foreach>
		)
	</insert>
	
	<select id="selectClassList" resultType="map">
		SELECT  class_code
				,class_name
				,class_type
				,class_big_category
				,class_small_category
				,class_thumnail
				,class_image
				,class_ex
				,class_location
				,class_hashtag
				,class_creator_explain
				,class_hide
				,class_price
				,class_regist_status
				,m.member_name
		FROM class c
		JOIN MEMBER m
		 ON  c.member_code = m.member_code
	</select>
	
	<select id="selectClassInfo" resultType="map">
		SELECT class_code
				,class_name
				,class_type
				,class_big_category
				,class_small_category
				,class_thumnail
				,class_image
				,class_ex
				,class_location
				,class_hashtag
				,class_creator_explain
				,class_hide
				,class_price
				,class_regist_status
				,m.member_name
		FROM class c
		JOIN MEMBER m
		  ON c.member_code = m.member_code
		WHERE class_code = #{class_code}
	</select>
	
	<select id="selectCommonCode" resultType="Integer">
		SELECT common1_code
		FROM common1
		WHERE code_value = #{code_value}
	</select>
	
	<select id="selectCommon2Code" resultType="int">
		SELECT common2_code
		FROM common2
		WHERE common1_code = #{common1_code}
		AND code_value = #{type}
	</select>
	
	<select id="selectBigCategory">
		SELECT *
		FROM common2
		WHERE common1_code = 3
	</select>
	
	<select id="selectSmallCategory">
		SELECT *
		FROM common3
		WHERE common1_code = 3
	</select>
	
</mapper>