<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="itwillbs.p2c3.class_will.mapper.CreatorMapper">
	
	<!-- 클래스 등록 -->
	<insert id="createrClassRegPro">
		INSERT INTO class(  	  
				  class_code
				, class_name
				, class_type
				, class_big_category
				, class_small_category
				, class_thumnail
				, class_image
				, class_ex
				, class_location
				, class_hashtag
				, class_creator_explain
				, class_hide
				, class_price
				, class_regist_status
				, member_code
		)
		VALUES (
			NULL
			, #{class_name}
			, #{class_type}
			, #{class_big_category}
			, #{class_small_category}
			, #{class_thumnail}
			, #{class_image}
			, #{class_ex}
			, #{class_location}
			, #{class_hashtag}
			, #{class_creator_explain}
			, #{class_hide}
			, #{class_price}
			, 1
			, #{member_code}
		)		
	</insert>
	
	<!-- 커리큘럼 삽입 -->
	<insert id="creatorCurriInsert" parameterType="map">
		<selectKey order="BEFORE" keyProperty="class_code" resultType="int">
			SELECT IFNULL(MAX(class_code), 0)
			FROM class
		</selectKey>
			INSERT INTO curri(
				class_code
				, curri_round
				, curri_content
			)
			VALUES
		<foreach collection="params" item="param" separator=",">
			(
	         	#{class_code}, #{param.curri_round}, #{param.curri_content}
	        )
      	</foreach>
	</insert>
	
	<!-- 카테고리 대분류 조회 -->
	<select id="getCategory" resultType="map">
		SELECT 
			common2_code, code_value
		FROM 
			common2 c2
		WHERE 
			common1_code = 3 
		AND 
			code_hide = 'N' -- 3은 카테고리 공통코드
	</select>

	<!-- 클래스 구분 조회 -->
	<select id="getSort" resultType="map">
		SELECT 
			common2_code, code_value
		FROM 
			common2 c2 
		WHERE 
			common1_code = 9
		AND 
			code_hide = 'N' -- 9은 클래스 구분 공통코드
	</select>
	
	<!-- 카테고리 상세 -->
	<select id="getCategoryDetail" resultType="map">
		SELECT 
			common3_code,code_value
		FROM 
			common3 c 
		WHERE 
			common2_code = #{big_category}
		AND 
			code_hide = 'N'
	</select>
	
	<select id="getHashtag" resultType="map">
		SELECT *
		FROM
			hash_tag
	</select>
	
	
	
	
	




</mapper>
