<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="itwillbs.p2c3.class_will.mapper.CreatorMapper">
	
	<!-- 클래스 등록 -->
	<insert id="createrClassRegPro">
		INSERT INTO class(  	  
				  class_code
				, class_name
				, class_big_category
				, class_small_category
				, class_thumnail
				, class_image
				, class_ex
				, class_location
				, class_hashtag
				, class_creator_explain
				, class_hide
				, class_price
				, class_regist_status
				, member_code
				, class_map_x
				, class_map_y
				, class_active
		)
		VALUES (
			NULL
			, #{class_name}
			, #{class_big_category}
			, #{class_small_category}
			, #{class_thumnail}
			, #{class_image}
			, #{class_ex}
			, #{class_location}
			, #{class_hashtag}
			, #{class_creator_explain}
			, #{class_hide}
			, #{class_price}
			, #{class_regist_status}
			, #{member_code}
			, null
			, null
			, 'Y'
		)		
	</insert>
	
	<!-- 커리큘럼 삽입 -->
	<insert id="creatorCurriInsert" parameterType="map">
		<selectKey order="BEFORE" keyProperty="class_code" resultType="int">
			SELECT IFNULL(MAX(class_code), 0)
			FROM class
		</selectKey>
			INSERT INTO curri(
				class_code
				, curri_round
				, curri_content
			)
			VALUES
		<foreach collection="params" item="param" separator=",">
			(
	         	#{class_code}, #{param.curri_round}, #{param.curri_content}
	        )
      	</foreach>
	</insert>
	
	<!-- 클래스 일정 삽입 -->
	<insert id="insertClassPlan">
		INSERT INTO class_schedule
		(	class_code
			, class_schedule_date
			, class_round
			, class_total_headcount
			, class_st_time
			, class_ed_time
			, class_remain_headcount			
		)
		VALUES
	        <foreach collection="classTimeList" item="classTime" separator=",">
	            (
	            #{map.classSelect}
	            , #{classTime.date}
	            , #{classTime.round}
	            , #{map.class_total_headcount}
	            , #{classTime.startTime}
	            , #{classTime.endTime}
	            , #{map.class_total_headcount}
	            )
	        </foreach>
		
	</insert>
	
	<!-- 클래스 일정 가져오기 -->
	<select id="getSchedule" resultType="map">
		SELECT *, (class_total_headcount - class_remain_headcount) AS attend_count
		FROM class_schedule
		WHERE 
			class_code = #{classCode}
	</select>

	<!-- 클래스 종료된 일정 가져오기 -->
	<select id="getEndedSchedule" resultType="map">
		SELECT *, (class_total_headcount - class_remain_headcount) AS attend_count
		FROM class_schedule
		WHERE 
			class_code = #{classCode}
		AND 
			CURDATE() > STR_TO_DATE(class_schedule_date, '%Y-%m-%d') 
		ORDER BY 
			class_schedule_date, class_round
	</select>
	
	<!-- 일정에서 예약자 여부 확인 -->
	<select id="checkSchedule" resultType="map">
		SELECT * 
		FROM 
			class_schedule
		WHERE 
		  	class_schedule_code = #{classScheduleCode}
		AND 
			class_total_headcount = class_remain_headcount
	</select>

	<!-- 일정삭제 -->
	<delete id="deleteSchedule">
		DELETE FROM class_schedule
		WHERE class_schedule_code = #{classScheduleCode}
	</delete>

	<!-- 전체일정에서 예약자 여부 확인 -->
	<select id="checkAllSchedule" resultType="map">
		SELECT * 
		FROM 
			class_schedule
		WHERE 
		  	class_code = #{classCode}
		AND 
			class_total_headcount = class_remain_headcount
		LIMIT 1;
	</select>

	<!-- 전체일정삭제 -->
	<delete id="deleteAllSchedule">
		DELETE FROM class_schedule
		WHERE 
			class_code = #{classCode}
		AND 
			class_total_headcount = class_remain_headcount
	</delete>
	
	<!-- 카테고리 대분류 조회 -->
	<select id="getCategory" resultType="map">
		SELECT 
			common2_code, code_value
		FROM 
			common2 c2
		WHERE 
			common1_code = 'CLC'
		AND 
			code_hide = 'N' -- 3은 카테고리 공통코드
	</select>

	<!-- 카테고리 상세 -->
	<select id="getCategoryDetail" resultType="map">
		SELECT 
			common3_code,code_value
		FROM 
			common3 c 
		WHERE 
			common2_code = #{big_category}
		AND 
			code_hide = 'N'
	</select>
	
	
	<!-- 해쉬태그 가져오기 -->
	<select id="getHashtag" resultType="map">
		SELECT *
		FROM
			hash_tag
	</select>
	
	<!-- 클래스 정보 가져오기 -->
	<select id="getClassInfo" resultType="map">
	SELECT 
		c.*, c2.code_value, c22.code_value as cate, c222.code_value as hide, 
		(
			SELECT 
				count(*) 
			FROM 
				class_schedule 
			WHERE 
				class_code=c.class_code
			AND
				STR_TO_DATE(class_schedule_date, '%Y-%m-%d') > CURDATE() 
		) as counter
		, (
			SELECT 
				count(*) 
			FROM 
				class_schedule 
			WHERE 
				class_code=c.class_code
			AND
				CURDATE() > STR_TO_DATE(class_schedule_date, '%Y-%m-%d')
			AND
				class_total_headcount != class_remain_headcount
		) AS endClass
	FROM 
		class c
	LEFT JOIN 
		common2 c2 
	ON 
		c2.common2_code = c.class_regist_status
	and
		c2.common1_code = 'CRS'
	JOIN 
		common2 c22
	ON 
		c.class_big_category = c22.common2_code
	and 
		c22.common1_code = 'CLC'
	JOIN 
		common2 c222
	ON 
		c.class_hide = c222.common2_code
	and 
		c222.common1_code = 'HIDE'
	</select>
	
	<!-- 상태에 따른 클래스 정보 가져오기 -->
	<select id="getClassStatusInfo" resultType="map">
	SELECT 
		c.*, c2.code_value, c22.code_value as cate, c222.code_value as hide
	FROM 
		class c
	LEFT JOIN 
		common2 c2 
	ON 
		c2.common2_code = c.class_regist_status
	and
		c2.common1_code = 'CRS'
	JOIN 
		common2 c22
	ON 
		c.class_big_category = c22.common2_code
	and 
		c22.common1_code = 'CLC'
	JOIN 
		common2 c222
	ON 
		c.class_hide = c222.common2_code
	and 
		c222.common1_code = 'HIDE'
		<if test="!status.equals('')">
			WHERE class_regist_status = #{status}
		</if>
	</select>
	
	<!-- 클래스 정보 가져오기 -->
	<select id="getCertifiedClassInfo" resultType="map">
	SELECT 
		c.*
		, c2.code_value
		, c22.code_value as cate
		, c222.code_value as hide
		, (
			SELECT 
				count(*) 
			FROM 
				class_schedule 
			WHERE 
				class_code=c.class_code
			AND
				STR_TO_DATE(class_schedule_date, '%Y-%m-%d') > CURDATE() 
		) as counter
		, (
			SELECT 
				count(*) 
			FROM 
				class_schedule 
			WHERE 
				class_code=c.class_code
			AND
				CURDATE() > STR_TO_DATE(class_schedule_date, '%Y-%m-%d')
			AND
				class_total_headcount != class_remain_headcount
		) AS endClass
	FROM 
		class c
	LEFT JOIN 
		common2 c2 
	ON 
		c2.common2_code = c.class_regist_status
	and
		c2.common1_code = 'CRS'
	JOIN 
		common2 c22
	ON 
		c.class_big_category = c22.common2_code
	and 
		c22.common1_code = 'CLC'
	JOIN 
		common2 c222
	ON 
		c.class_hide = c222.common2_code
	and 
		c222.common1_code = 'HIDE'
	AND 
		c222.common2_code = 1
	WHERE 
		c.class_regist_status = 2
	
	</select>
	
	<!-- 공개여부 -->
	<select id="getHide" resultType="map">
		SELECT 
			common2_code, code_value
		FROM 
			common2 c2
		WHERE 
			common1_code = 'HIDE' 
		AND 
			code_hide = 'N'
	</select>

	<!--  -->
	<select id="getStatusList" resultType="map">
		SELECT *
		FROM 
			common2 
		WHERE 
			common1_code='CRS'
	</select>
	
	
	
	




</mapper>
