<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwillbs.p2c3.class_will.mapper.MyPageMapper">
	<update id="updateMemberImg">
		UPDATE MEMBER
		SET
		<if test="member_addr != null and !member_addr.isEmpty()">
			member_addr = #{member_addr},
		</if>

		<!-- 비밀번호 업데이트 -->
		<if test="member_pwd != null and !member_pwd.isEmpty()">
			member_pwd = #{member_pwd},
		</if>
		member_img = #{member_img}
		
		WHERE
		member_code = #{member_code}
	</update>

	<select id="selectMemberReview">
		<!-- 회원이 작성한 모든 클래스 리뷰 조회 -->
		SELECT cr.class_review_code,
		cr.class_review_subject,
		cr.class_review_content,
		cr.class_review_date,
		cr.class_review_time,
		c.class_name,
		cr.class_review_rating
		FROM class_review cr
		LEFT JOIN class c ON cr.class_code = c.class_code
		WHERE cr.member_code = #{member_code}
	</select>

	<select id="selectReviewByCode">
		<!-- 회원이 작성한 특정 클래스 리뷰 조회 -->
		SELECT * FROM class_review
		WHERE class_review_code = #{review_code}
	</select>

	<update id="updateReview" parameterType="java.util.Map">
		<!-- 회원이 작성한 특정 클래스 리뷰 업데이트 -->
		UPDATE class_review
		SET class_review_subject = #{class_review_subject},
		class_review_content = #{class_review_content},
		class_review_rating = #{class_review_rating}
		WHERE class_review_code = #{class_review_code}
	</update>

	<delete id="deleteReview">
		<!-- 클래스 리뷰 삭제 -->
		DELETE FROM class_review
		WHERE class_review_code = #{class_review_code}

	</delete>


</mapper>