<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="itwillbs.p2c3.class_will.mapper.MyPageMapper">
	  <update id="updateMemberImg">
	  		UPDATE MEMBER
			SET
				member_img = #{member_img}
			WHERE
				member_code = #{member_code}
		  
	  </update>
	  
	  <select id="selectMemberReview">
	   <![CDATA[
    	SELECT cr.class_review_code, cr.class_review_subject, cr.class_review_content,
           cr.class_review_date, cr.class_review_time,
           c.class_name, cr.class_review_rating
    	FROM class_review cr
    	LEFT JOIN class c ON cr.class_code = c.class_code
    	WHERE cr.member_code = #{param1}
    	]]>
	  </select>
	  
	  
  </mapper>