<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="itwillbs.p2c3.class_will.mapper.PayMapper">
	<!-- 임시 select -->
	<select id="selectClassInfo" resultType="map">
		SELECT c.class_name
			   , c.class_code
			   , c2.code_value AS 'class_upper' 
			   , c3.code_value AS 'class_lower'
			   , c.class_big_category
			   , c.class_small_category
			   , c.class_thumnail
			   , c.class_location
			   , c.class_price
			   , c.class_ex
			   , c.class_creator_explain 
		--	   , cs.class_schedule_date
		--	   , cs.class_st_time 
		-- 	   , cs.class_ed_time
		-- 	   , cs.class_round 
		FROM class c
		-- JOIN class_schedule cs 
		-- ON c.class_code = cs.class_code 
		JOIN common2 c2 
		ON c.class_big_category = c2.common2_code
		AND c2.common1_code = 'CLC'
		AND c2.common2_code = 10
		JOIN common3 c3 
		ON c.class_small_category = c3.common3_code
		AND c3.common1_code = 'CLC'
		AND c3.common2_code = 10 
		AND c3.common3_code = 8
		where c.class_code = #{class_code}
	</select>
	
	<select id="selectPayInfo" resultType="map">
		SELECT c.class_name
			   , c2.code_value AS class_upper 
			   , c3.code_value AS class_lower
			   , c.class_thumnail
			   , c.class_location
			   , c.class_price
		 	   , m.member_code 
		 	   , m.member_email 
		 	   , m.member_nickname 
		 	   , m.member_tel
		 	   , m.member_credit
		 	   , m.member_name
			   , cs.class_schedule_date
			   , cs.class_st_time 
		 	   , cs.class_ed_time
		 	   , cs.class_round 
		FROM class c
		JOIN class_schedule cs 
		ON c.class_code = cs.class_code 
		JOIN common2 c2 
		ON c.class_big_category = c2.common2_code
		AND c2.common1_code = 'CLC'
		AND c2.common2_code = #{class_big_category}
		JOIN common3 c3 
		ON c.class_small_category = c3.common3_code
		AND c3.common1_code = 'CLC'
		AND c3.common2_code = #{class_big_category} 
		AND c3.common3_code = #{class_small_category}
		JOIN MEMBER m
		ON c.member_code = m.member_code
		where c.class_code = #{class_code}
		AND cs.class_st_time = #{class_st_time}
		AND cs.class_ed_time = #{class_ed_time}
		AND cs.class_schedule_date = #{selected_dates}
	</select>
	
	<select id="selectSchedule" resultType="map">
		SELECT *
		FROM class_schedule
		WHERE class_code = #{i}
	</select>
	
	<select id="selectScheduleTime" resultType="map">
		SELECT class_st_time
			   , class_ed_time
			   , class_remain_headcount
		FROM class_schedule
		WHERE class_schedule_date = #{date}
		AND class_code = #{class_code}
	</select>
	
	<select id="selectCredit" resultType="map">
		SELECT member_credit
		FROM MEMBER
		WHERE member_code = #{member_code}
	</select>
	
</mapper>